body{
  background-color: rgb(234, 223, 223);
}

.or{
  padding: 20px;
  font-size: 30px;
  text-align: center;
  color: red;
}

.now{
  color: blue;
  font-weight: bold;
  font-size: 12px;
}

.menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.menu > div{
  padding-inline: 20px;
}

.image-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}